/*
* Import Google Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*
* Reset CSS
* Global styles
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*
* Music player
*/

.music-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/gradient-bg.jpg');
    background-size: cover;
    background-position: center;
}

.music-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121826a6;
    width: 345px;
    padding: 1.2rem;
    border-radius: 1.2rem;

    &__cover {
        border-radius: 1.2rem;
        overflow: hidden;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 1rem 0;
        
        h1 {
            color: #E5E7EB;
            font-size: 1rem;
            font-weight: 600;
        }

        p {
            color: #4D5562;
            font-size: 0.75rem;
            font-weight: 600;
        }
    }

    &__progress {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 3px;

        &--duration {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: #4D5562;
            font-size: 0.625rem;
        }

        &--bar {
            width: 100%;
            height: 0.25rem;
            background-color: #E5E7EB;
            box-shadow: 0 0 5px rgba(229, 231, 235, 0.5);
            border-radius: 0.2rem;
            position: relative;

            &--fill {
                height: 100%;
                background-color: #C93B76;
                width: 30%; // Change this value to change the progress bar
                border-radius: 0.2rem;
            }
        }
    }

    &__buttons {
        padding: 2rem 0 0.5rem;
        display: flex;
        gap: 1rem;

        button {
            border: none;
            cursor: pointer;

            &.play-button {
                background-color: #C93B76;
                color: #E5E7EB;
                padding: 0.5rem;
                border-radius: 50%;
                box-shadow: 0 0 10px rgba(201, 59, 118, 0.5);
            }

            &.navigation-button {
                color: #E5E7EB;
                border-radius: 50%;
                background-color: transparent;
            }
        }
    }
}
